<h1>{{ title }}</h1>
{# TODO: add an image of the record #}
<div>
    Showing facilities

<ul>

    {% for facility in facilities %}

        <li>
            {{ facility }}
        </li>

    {% endfor %}

</ul>

</div>

